# CR krzmbrzl: I think it might be beneficial to not use git submodules for dependency management.
# Instead, using cmake's FetchContent seems more appropriate as this can fetch only what is actually needed.
[submodule "3rdparty/quickpool"]
	path = 3rdparty/quickpool
	url = https://github.com/tnagler/quickpool.git
[submodule "3rdparty/toml11"]
	path = 3rdparty/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "3rdparty/wepoll"]
	path = 3rdparty/wepoll
	url = https://github.com/piscisaureus/wepoll.git
