name: Build

on: [push, pull_request]

jobs:
  skip_test:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          concurrent_skipping: same_content_newer
          skip_after_successful_duplicate: 'true'

  build:
    needs: skip_test

    if: needs.skip_test.outputs.should_skip != 'true'

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            triplet: x64-linux
          - os: windows-latest
            triplet: x64-windows-static-md
          - os: windows-latest
            triplet: x86-windows-static-md
          - os: macos-latest
            triplet: x64-osx

    name: ${{matrix.triplet}}
    runs-on: ${{matrix.os}}

    env:
      VCPKG_DEFAULT_TRIPLET: ${{matrix.triplet}}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: lukka/get-cmake@latest

      - uses: lukka/run-vcpkg@main
        with:
          vcpkgGitCommitId: 1323f4b83d6a91e415e9ce06a45c9d0a6473aaf2
          runVcpkgInstall: true
          appendedCacheKey: vcpkg

      - uses: lukka/run-cmake@v10.3
        with:
          configurePreset: 'ninja-vcpkg'
          buildPreset: 'ninja-vcpkg'
          testPreset: 'ninja-vcpkg'
          configurePresetAdditionalArgs: "[ '-DLIBMUMBLE_WARNINGS_AS_ERRORS=ON' ]"
